/* ============================== Billing Part Start =================================== */
.billing_card{
    background: linear-gradient(81.62deg, #313860 2.25%, #151928 79.87%);
    border-radius: 15px;
    padding: 22px 35px;
    position: relative;
    .ovrly{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            max-width: 100%;
        }
    }
    .ovrly_text{
        .head{
            padding-bottom: 40px;
            h4{
                @include text(18px,700,#fff);
            }
            position: relative;
            &::after{
                position: absolute;
                content: '';
                top: 10px;
                transform: translateY(-50%);
                right: 0;
                background: #FFFFFF;
                opacity: 0.4;
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
            &::before{
                position: absolute;
                content: '';
                top: 10px;
                transform: translateY(-50%);
                right: 15px;
                background: #FFFFFF;
                opacity: 0.4;
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }
        .body{
            padding-bottom: 10px;
            h6{
                @include text(24px,700,#fff);
            }
        }
        .footer{
            ul{
                li{
                    margin-right: 35px;
                    p{
                        @include text(10px,400,#fff);
                    }
                    h6{
                        @include text(14px,700,#fff);
                    }
                }
            }
        }
    }
}
.post{
    background: #FFFFFF;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 15px;
    padding: 30px 0;
    text-align: center;
    .icon{
        background: #4FD1C5;
        box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
        border-radius: 12px;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        i{
            font-size: 25px;
            color: #fff;
        }
        margin-bottom: 10px;
    }
    h4,h6{
        @include text(18px,700,$Grey);
    }
    p{
        @include text(12px,700,$GreyI);
    }
}
.payment_method{
    margin-top: 25px;
    .card{
        padding: 24px;
        border: none;
        background: #FFFFFF;
        box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
        border-radius: 15px;
        .header{
            display: flex;
            justify-content: space-between;
            padding-bottom: 40px;
            align-items: center;
            h4{
                @include text(14px,700,$Grey);
            }
        }
        .icon{
            transform: translateY(-2px);
        }
        .methods{
            display: flex;
            align-items: center;
            position: relative;
            background: #FFFFFF;
            border: 1px solid #E2E8F0;
            border-radius: 15px;
            padding: 10px 22px;
            p{
                @include text(14px,400,$GreyI);
                padding-left: 15px;
            }
            .action{
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
            }
        }
    }
}
.invoice{
    .card{
        padding: 20px;
        border: none;
        background: #FFFFFF;
        box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
        border-radius: 15px;
        .header{
            display: flex;
            justify-content: space-between;
            padding-bottom: 40px;
            align-items: center;
            h4{
                @include text(14px,700,$Grey);
            }
        }
        .invoice_list{
            li{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 0;
                }
                .amount{
                    display: flex;
                    align-items: center;
                    p{
                        margin-right: 5px;
                    }
                }
                h6{
                    @include text(14px,700,$Grey);
                }
                p{
                    @include text(12px,700,$GreyI);
                }
                a{
                    @include text(10px,700,$Grey);
                    i{
                        padding-right: 5px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
.billing_info{
    .card{
        padding: 20px;
        border: none;
        background: #FFFFFF;
        box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
        border-radius: 15px;
        .header{
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            align-items: center;
            h4{
                @include text(14px,700,$Grey);
            }
        }
        .billers_list{
            li{
                background: #F8F9FA;
                border-radius: 12px;
                padding: 22px 24px;
                margin-bottom: 20px;
                .top_bar{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                h6{
                    @include text(14px,700,$GreyI);
                    display: inline !important;
                }
                p{
                    @include text(12px,400,$GreyI);
                    display: inline !important;
                }
                a{
                    font-size: 10px;
                    font-weight: 700;
                    margin: 0 5px;
                    i{
                        padding-right: 5px;
                    }
                }
            }
            
        }
    }
}
.transactions{
    .card{
        padding: 20px;
        border: none;
        background: #FFFFFF;
        box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
        border-radius: 15px;
        .header{
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            align-items: center;
            h4{
                @include text(14px,700,$Grey);
            }
            p{
                @include text(14px,700,$GreyI);
                i{
                    color: #000;
                    padding-right: 5px;
                }
            }
        }
        .body{
            span{
                @include text(10px,700,$GreyI);
            }
            .transaction_list{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 20px 0;
                .left{
                    display: flex;
                    align-items: center;
                    .icon{
                        width: 35px;
                        height: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        border: 1px solid transparent;
                        margin-right: 10px;
                        i{
                            font-size: 15px;
                            color: transparent;
                        }
                    }
                }
                h4{
                    @include text(14px,700,$Grey);
                }
                p{
                    @include text(12px,700,$GreyI);
                }
                &.up{
                    .left{
                        .icon{
                            border: 1px solid #48BB78 !important;
                            i{
                                color: #48BB78 !important;
                            }
                        }
                    }
                    .right{
                        p{
                            color: #48BB78 !important;
                        }
                    }
                }
                &.down{
                    .left{
                        .icon{
                            border: 1px solid #E53E3E !important;
                            i{
                                color: #E53E3E !important;
                            }
                        }
                    }
                    .right{
                        p{
                            color: #E53E3E !important;
                        }
                    }
                }
                &.warn{
                    .left{
                        .icon{
                            border: 1px solid #A0AEC0 !important;
                            i{
                                color: #A0AEC0 !important;
                            }
                        }
                    }
                    .right{
                        p{
                            color: $Grey !important;
                        }
                    }
                }
            }
        }
    }
}
/* ============================== Billing Part End =================================== */